In [1]:
# !pip install webdriver_manager

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
import time

import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [24]:
#opening the naukri page on automated chrome browser

driver.get('https://www.naukri.com/')

In [25]:
# Entering designation required in question using class name

designation = driver.find_element(By.CLASS_NAME,"suggestor-input ")

designation.send_keys('Data Scientist')

In [26]:
# Entering location using Xpath

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")

location.send_keys('Bangalore')

In [27]:
# search the key

search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [28]:
job_title = []

for i in driver.find_elements(By.XPATH,'//div[@ class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')[0:10]:
    job_title.append(i.text[:33])
    
job_title

['Data Scientist, Marketing',
 'Data Scientist',
 'Data Scientist',
 'Data Science Engineer',
 'Data Scientist-Senior Associate -',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Senior Associate',
 'SAS Data Scientist',
 'Data Scientist']

In [29]:
job_location = []

for i in driver.find_elements(By.XPATH,'//span[@ class="locWdth"]')[0:10]:
    job_location.append(i.text)
    
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Hybrid - Bangalore Rural, Noida, Pune, Chennai, Mumbai (All Areas)',
 'Mumbai, Hyderabad, Bengaluru',
 'Hybrid - Hyderabad, Pune, Bengaluru',
 'Hybrid - Hyderabad, Pune, Bengaluru',
 'Mumbai, Hyderabad, Bengaluru',
 'Mumbai, Bengaluru, Delhi / NCR',
 'Bengaluru']

In [30]:
company = []

for i in driver.find_elements(By.XPATH,'//span[@ class=" comp-dtls-wrap"]/a[1]')[0:10]:
    company.append(i.text)
    
company

['Coursera',
 'Essenware',
 'Essenware',
 'Futran Tech Solutions',
 'PwC Service Delivery Center',
 'Infosys',
 'Tech Mahindra',
 'PwC Service Delivery Center',
 'Lericon Informatics',
 'Ericsson']

In [31]:
exp = []

for i in driver.find_elements(By.XPATH,'//span[@ class="expwdth"]')[0:10]:
    exp.append(i.text)
    
exp

['4-6 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '6-9 Yrs',
 '4-6 Yrs',
 '4-8 Yrs',
 '6-10 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '0-3 Yrs']

In [32]:
salary = []

for i in driver.find_elements(By.XPATH,'//span[@ class="ni-job-tuple-icon ni-job-tuple-icon-srp-rupee sal"]/span')[0:10]:
    salary.append(i.text)
    
salary

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [33]:
df = pd.DataFrame({'COMPANY':company,'DESIGNATION':job_title,'LOCATION':job_location,'EXPERIENCE':exp})

df

,COMPANY,DESIGNATION,LOCATION,EXPERIENCE
0,Coursera,"Data Scientist, Marketing","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",4-6 Yrs
1,Essenware,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",2-5 Yrs
2,Essenware,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",2-5 Yrs
3,Futran Tech Solutions,Data Science Engineer,"Hybrid - Bangalore Rural, Noida, Pune, Chennai...",6-9 Yrs
4,PwC Service Delivery Center,Data Scientist-Senior Associate -,"Mumbai, Hyderabad, Bengaluru",4-6 Yrs
5,Infosys,Data Scientist,"Hybrid - Hyderabad, Pune, Bengaluru",4-8 Yrs
6,Tech Mahindra,Data Scientist,"Hybrid - Hyderabad, Pune, Bengaluru",6-10 Yrs
7,PwC Service Delivery Center,Data Scientist - Senior Associate,"Mumbai, Hyderabad, Bengaluru",3-8 Yrs
8,Lericon Informatics,SAS Data Scientist,"Mumbai, Bengaluru, Delhi / NCR",2-6 Yrs
9,Ericsson,Data Scientist,Bengaluru,0-3 Yrs

In [34]:
# To fetch the URL

url = driver.find_elements(By.XPATH,'//a[@ class="title "]')
url[0:7]

[<selenium.webdriver.remote.webelement.WebElement (session="6ed835879c9542f4877da5e8b6685d0d", element="f.1BD7842E92A9EC393BF26562F31FF93F.d.B4113961878D19FFB9EFABA151DBCC8C.e.122")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ed835879c9542f4877da5e8b6685d0d", element="f.1BD7842E92A9EC393BF26562F31FF93F.d.B4113961878D19FFB9EFABA151DBCC8C.e.222")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ed835879c9542f4877da5e8b6685d0d", element="f.1BD7842E92A9EC393BF26562F31FF93F.d.B4113961878D19FFB9EFABA151DBCC8C.e.123")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ed835879c9542f4877da5e8b6685d0d", element="f.1BD7842E92A9EC393BF26562F31FF93F.d.B4113961878D19FFB9EFABA151DBCC8C.e.223")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ed835879c9542f4877da5e8b6685d0d", element="f.1BD7842E92A9EC393BF26562F31FF93F.d.B4113961878D19FFB9EFABA151DBCC8C.e.124")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ed835879c9542f4877da5e8b6685d0d", element="f.1BD7842E92A9EC393BF26562F31FF93F.d.B4113961878D19FFB9EFABA151DBCC8C.e.125")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6ed835879c9542f4877da5e8b6685d0d", element="f.1BD7842E92A9EC393BF26562F31FF93F.d.B4113961878D19FFB9EFABA151DBCC8C.e.224")>]

In [35]:
for i in url[0:7]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-scientist-marketing-coursera-kolkata-mumbai-new-delhi-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-4-to-6-years-240124501248
None
https://www.naukri.com/job-listings-data-scientist-essenware-private-limted-kolkata-mumbai-new-delhi-hyderabad-pune-chennai-bengaluru-2-to-5-years-210524501649
None
https://www.naukri.com/job-listings-data-scientist-essenware-private-limted-kolkata-mumbai-new-delhi-hyderabad-pune-chennai-bengaluru-2-to-5-years-210524501409
https://www.naukri.com/job-listings-data-science-engineer-futran-tech-solutions-noida-pune-bangalore-rural-chennai-mumbai-all-areas-6-to-9-years-280524010293
None

In [16]:
# driver.quit()

In [3]:
driver.get('https://www.shine.com/')

In [4]:
designate = driver.find_element(By.CLASS_NAME, "form-control  ")
designate.send_keys('Data Analyst')

In [6]:
location = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [8]:
search = driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [10]:
job_title = []

for i in driver.find_elements(By.XPATH,'//strong[@ class="jobCard_pReplaceH2__xWmHg"]/h2/a')[1:11]:
    job_title.append(i.text)
    
job_title

['Data Entry Operator',
 'Data Executive karnataka',
 'Data Entry Executive',
 'Data Executive karnataka',
 'Requirement English Handwriting DATA Entry Operator',
 'Data Operator For All India',
 'Data Entry Senior Representative apply all over Indian ...',
 'Data Operator all over India',
 'Computer Operator Data Entry Operator All over Indian P ...',
 'Data Entry Clerk, Work From Home, Part Time Work']

In [14]:
loc = []

for i in driver.find_elements(By.XPATH,'//div[@ class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[1:11]:
    loc.append(i.text[0:9])
    
loc

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [17]:
name = []

for i in driver.find_elements(By.XPATH,'//div[@ class="jobCard_jobCard_cName__mYnow"]/span')[1:11]:
    name.append(i.text)
    
name

['v-tech data outsourcing',
 'v-tech data outsourcing',
 'v-tech data outsourcing',
 'v-tech data outsourcing',
 'v-tech data outsourcing',
 'v-tech data outsourcing',
 'v-tech data outsourcing',
 'v-tech data outsourcing',
 'v-tech data outsourcing',
 'shivam kumar maurya hiring for rm d...']

In [18]:
import pandas as pd

In [20]:
df = pd.DataFrame({'Company':name,'Post':job_title,'Area':loc})

df

,Company,Post,Area
0,v-tech data outsourcing,Data Entry Operator,Bangalore
1,v-tech data outsourcing,Data Executive karnataka,Bangalore
2,v-tech data outsourcing,Data Entry Executive,Bangalore
3,v-tech data outsourcing,Data Executive karnataka,Bangalore
4,v-tech data outsourcing,Requirement English Handwriting DATA Entry Ope...,Bangalore
5,v-tech data outsourcing,Data Operator For All India,Bangalore
6,v-tech data outsourcing,Data Entry Senior Representative apply all ove...,Bangalore
7,v-tech data outsourcing,Data Operator all over India,Bangalore
8,v-tech data outsourcing,Computer Operator Data Entry Operator All over...,Bangalore
9,shivam kumar maurya hiring for rm d...,"Data Entry Clerk, Work From Home, Part Time Work",Bangalore